/* 
하위 선택자
아이템 리스트가 가지고 있는 모든 p태그를 선택, 
아이디 자식으로 div가 있고 해당 div 안에 p태그 까지도 선택됨 
*/
#item-list p {
  font-size: 30px;
  color: red;
}
/* 
자식 선택자 
바로 직계 자식, 해당 아이디 안에 내부 div안에 p가 또있다면 그거까지 적용은 되지 않음
아이디 안에 바로 자식 태그에게만 적용됨
위에께 적용되고 아래께 다시 적용됨. css적용되는 순서임
*/
#item-list > p {
  color: yellow;
}

#id-test,
.class-test {
  color: blue;
}

/* 
선택자 {
    속성 1: 값; 
    속성 2: 값; 
}
선택자 : 스타일 적용 대상, 태그, id : 단 하나의 고유의 값, class : 다중 지정 가능 => 기본 선택자
*/

/* 
    복합 선택자 => 하위 선택자와 자식 선택자 등등
    하위 선택자 : 선택자1 선택자2 띄어쓰기로 설정, 
               상위 선택자 안에 있는 모든 태그들 중에 선택자 2에 해당하는 태그를 선택
    자식 선택자 : 선택자1 > 선택자2 
                상위 선택자의 바로 첫번쨰 자식으로 있는 태그들 중에서 선택자 2에 해당하는 태그를 선택
*/
